body {
padding: 0;
margin:0;
background: #DADDD8;
}
.container{
  padding:0;
  margin: 0;
}
.loginPage{
  color: #DADDD8;
  margin: auto auto;
  padding: 0;
  left:0;
  min-width:1300px;
  height:1000px;
max-height:1000px;
background: linear-gradient(90deg, #22333B 10%, #2F4858 90%);
font-family: 'Raleway', sans-serif;
}

.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.panel-info{
  background: linear-gradient(90deg, #7798AB 10%, #9AC2C9 90%);
  border: 1px solid #DADDD8;
}
.panel-info > .panel-heading{
  background: #DADDD8;
}
.btn{
  min-width: 200px;
  margin: 10px;
}
.btn-sm{
  margin: 0;
  min-width: 182px;
}
.navbar{
  background: #EDEDED;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    background: linear-gradient(90deg, #22333B 10%, #2F4858 90%);;
    border: none;
  }

ul{
  text-align: center;
}
.glyphicon {
  color: #DADDD8;
  font-size: 28px;
  margin: 50px 0 60px 0;
}
.total{
  color: #22333B;
  margin: 15px;
}


/*       Home Page                         */
.income{
  max-width: 70%;
}
.expenses{
  max-width: 60%;
}
.home{
  display: inline-flex;
  flex-flow: column;
  min-width: 30%;
}
.my-pretty-chart-container{
  width: 70%;
  float: right;
  display: flex;
}
