body {
padding: 0;
margin:0;
background: #EDEAE3;
}

/*                Login Page   */
.container{
  padding:0;
  margin: 0;
}
.loginPage{
  color: #EDEAE3;
  margin: auto auto;
  padding: 0;
  left:0;
  min-width:1300px;
  height:1000px;
max-height:1000px;
background: linear-gradient(90deg, #22333B 10%, #2F4858 90%);
font-family: 'Raleway', sans-serif;
}

.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.panel-info{
  background: linear-gradient(90deg, #7798AB 10%, #9AC2C9 90%);
  border: 1px solid #EDEAE3;
}
.panel-info > .panel-heading{
  background: #EDEAE3;
}
.btn{
  min-width: 200px;
  margin: 10px;
}
.btn-sm{
  margin: 0;
  min-width: 182px;
}

/*                Dashboard   */

.navbar{
  background: #A4A5A9;
}
a{
  color: #22333B;

}
.dashTotal{
  margin: 5px;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    background: linear-gradient(90deg, #22333B 10%, #2F4858 90%);;
    border: none;
  }
.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus{
  background: none;
}
ul{
  text-align: center;
}
.glyphicon {
  color: #EDEAE3;
  font-size: 28px;
  margin: 100px 0 100px 0;
}

/*       Home Page                         */
.income{
  max-width: 70%;
}
.expenses{
  max-width: 30%;
}
.home{
  display: inline-flex;
  flex-flow: column;
  min-width: 30%;
}
.my-pretty-chart-container{
  width: 70%;
  float: right;
  display: flex;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.85px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  background: #B9D8C2;
  border-radius: 1px;
  border: 1.1px solid #18d501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.6px 2.6px 3.7px #D7B9D5, 0px 0px 2.6px #ADA7C9;
  border: 2.5px solid #90A8C3;
  height: 23px;
  width: 23px;
  border-radius: 12px;
  background: #64A6BD;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.95px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #297334;
}
